.Calendar {
  position: relative;

  width: 9.74vw;
  height: 3.704vh;

  &__wrapper {
    @include flex;
    gap: 1.042vw;

    width: 9.74vw;
    height: 3.704vh;
    border: 1px solid $grayscale-30;
    border-radius: 8px;

    background-color: white;

    &__date {
      @include text-style(17, $grayscale-70, 400);
    }
  }

  &__dropdown {
    position: absolute;
    right: 0;

    width: 15.677vw;
    height: 11.019vh;
    margin-top: 0.926vh;
    padding: 1.852vh 1.042vw 1.111vh;

    border: 1px solid $grayscale-40;
    border-radius: 8px;

    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(220, 220, 220, 0.5);

    &__wrapper {
      @include flex;
      position: relative;

      width: 13.594vw;
      height: 5vh;
      padding: 1.111vh 0;

      &_year {
        @include flex;
        gap: 0.208vw;

        width: 4.167vw;
        height: 100%;
        padding: 0 0.313vw;

        border: 1px solid $grayscale-40;
        border-radius: 4px;

        @include text-style(15, $grayscale-80, 400);

        cursor: pointer;

        &_span {
          @include flex;

          width: 2.5vw;
        }
      }

      &_month {
        @include flex;
        gap: 0.208vw;

        width: 3.125vw;
        height: 100%;
        padding: 0 0.313vw;

        border: 1px solid $grayscale-40;
        border-radius: 4px;

        @include text-style(15, $grayscale-80, 400);

        cursor: pointer;

        &_span {
          @include flex;

          width: 1.458vw;
        }
      }

      &_week {
        @include flex;
        gap: 0.208vw;

        width: 2.5vw;
        height: 100%;
        padding: 0 0.313vw;

        border: 1px solid $grayscale-40;
        border-radius: 4px;

        @include text-style(15, $grayscale-80, 400);

        cursor: pointer;

        &_span {
          @include flex;

          width: 0.833vw;
          height: 2.13vh;
        }
      }

      &_span {
        margin-left: 0.313vw;
        margin-right: 0.417vw;

        @include text-style(15, $grayscale-90, 400);

        &:last-child {
          margin-right: 0;
        }
      }

      &_select {
        @include flex;

        width: 100%;
        height: 2.87vh;

        border-bottom: 1px solid $grayscale-40;

        @include text-style(15, $grayscale-50, 400);

        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }

        &.previous-selected {
          border-bottom: none;
        }

        &.selected {
          border-bottom: none;
          border-radius: 8px;

          color: $primary-70;
          background-color: $secondary-1;
        }
      }

      &_select-year {
        @include column-flex;
        position: absolute;

        width: 4.167vw;
        max-height: 29.259vh;
        padding: 0.556vh 0.313vw 0;

        border: 1px solid $grayscale-40;
        border-radius: 8px;

        background-color: white;

        overflow-y: auto;
      }

      &_select-month {
        @include column-flex;
        position: absolute;
        left: 6.615vw;

        width: 3.125vw;
        padding: 0.556vh 0.313vw 0;

        border: 1px solid $grayscale-40;
        border-radius: 8px;

        background-color: white;
      }

      &_select-week {
        @include column-flex;
        position: absolute;
        right: 1.875vw;

        width: 2.5vw;
        padding: 0.556vh 0.313vw 0;

        border: 1px solid $grayscale-40;
        border-radius: 8px;

        background-color: white;
      }
    }

    &_reset-wrapper {
      @include flex(end, end);

      height: 3.056vh;
      padding: 0.926vh 0.521vw 0;

      @include text-style(15, $primary-50, 400);
    }

    &_reset-span {
      cursor: pointer;
    }
  }
}
