.daily-chartAdmin {
  position: relative;
  width: 54vw;
  height: 36.542vh;
  padding: 1.829vw 4.167vh 1.829vw 4.167vh;
  margin-right: 0.833vw;
  border-radius: 12px;
  border: 1px solid #e6edff;
  background: $white;
  box-shadow: 4px 4px 10px 0px rgba(220, 220, 220, 0.2);

  &__wrapper {
    @include column-flex(center, start);
  }

  &__title {
    @include text-style(25, $grayscale-80, 700);
    line-height: 150%;
  }

  &__date {
    @include flex(between, center);
    width: 100%;
    @include text-style(15, $grayscale-50, 400);
    line-height: 150%;

    &__legend {
      @include flex;

      &__dropdown {
        @include flex;
        width: 4.1667vw;
        height: 2.1296vh;
        padding: 0 6px;
        margin-right: 0.8333vw;
        margin-left: 0.4167vw;
        gap: 4px;
        border-radius: 4px;
        border: 1px solid $grayscale-40;
        cursor: pointer;

        &__selected {
          @include flex(around, center);
          width: 100%;
        }

        &__options {
          position: absolute;
          top: 30%;
          right: 10%;
          width: 4.1667vw;
          padding: 0.366vw 0.625vh 0 0.625vh;
          background-color: $white;
          border: 1px solid $grayscale-40;
          border-radius: 0.4167vw;
          max-height: 29.2593vh;
          overflow-y: auto;
          z-index: 10;
          box-shadow: 0.208vw 0.208vw 0.52vw 0px rgba(220, 220, 220, 0.5);
        }

        &__option {
          padding: 0.208vw 0;
          position: relative;
          @include text-style(15, $grayscale-50, 400);
          text-align: center;
          line-height: 150%;
          transition:
            background 0.3s,
            color 0.3s;
          cursor: pointer;

          &:hover {
            background: $secondary-1;
            color: $primary-70;
          }

          &.selected {
            background: $secondary-1;
            color: $primary-70;
          }

          &::after {
            @include flex;
            content: '';
            left: 0;
            position: absolute;
            width: 100%;
            border: 1px solid $grayscale-40;
            align-self: stretch;
          }

          &:last-child::after {
            border: none;
          }
        }
      }
    }
  }
}

.dropdown-wrapper {
  display: flex;
}

.taskavr {
  margin-right: 0.4167vw;
}
