.daily-chartAdmin {
  position: relative;
  width: 53.125vw;
  height: 39.8148vh;
  padding: 1.5625vw;
  gap: 0.5208vw;
  border-radius: var(--12, 0.625vw);
  border: 0.052vw solid #e6edff;
  background: $white;
  box-shadow: 0.208vw 0.208vw 0.52vw 0px rgba(220, 220, 220, 0.2);

  &__wrapper {
    @include flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    color: $grayscale-80;
    font-size: 25px;
    font-weight: 700;
    line-height: 150%;
  }

  &__date {
    @include flex(between, center);
    width: 100%;
    color: $grayscale-50;
    font-size: 15px;
    line-height: 150%;

    &__legend {
      @include flex;

      &__dropdown {
        @include flex;
        width: 4.1667vw;
        height: 2.1296vh;
        padding: 0px 0.3125vw;
        margin-right: 0.8333vw;
        margin-left: 0.4167vw;
        gap: var(--4, 0.208vw);
        border-radius: var(--4, 0.208vw);
        border: 0.052vw solid $grayscale-40;

        &__selected {
          @include flex(around, center);
          width: 100%;
        }

        &__options {
          position: absolute;
          top: 8.7037vh;
          right: 5vw;
          width: 4.1667vw;
          padding: 0.3125vw 0.3125vw 0 0.3125vw;
          background-color: $white;
          border: 0.052vw solid $grayscale-40;
          border-radius: 0.4167vw;
          max-height: 29.2593vh;
          overflow-y: auto;
          z-index: 10;
          box-shadow: 0.208vw 0.208vw 0.52vw 0px rgba(220, 220, 220, 0.5);
        }

        &__option {
          padding: 0.208vw 0;
          position: relative;
          text-align: center;
          color: $grayscale-50;
          font-size: 15px;
          line-height: 150%;
          transition:
            background 0.3s,
            color 0.3s;
          cursor: pointer;

          &:hover {
            background: $secondary-1;
            color: $primary-70;
          }

          &.selected {
            background: $secondary-1;
            color: $primary-70;
          }

          &::after {
            @include flex;
            content: '';
            left: 0;
            position: absolute;
            width: 100%;
            border: 0.052vw solid $grayscale-40;
            align-self: stretch;
          }

          &:last-child::after {
            border: none;
          }
        }
      }
    }
  }
}

.dropdown-wrapper {
  display: flex;
}

.taskavr {
  margin-right: 0.4167vw;
}
