.dailyRateWrapper {
  @include column-flex(between, center);
  width: 11.22vw;
  height: 28.125vh;
  padding: 1.829vw 3.125vh 1.829vw 3.125vh;
  margin-left: 0.671vw;
  gap: 0.61vw;
  border-radius: 12px;
  border: 1px solid $grayscale-10;
  box-shadow: 4px 4px 10px 0 rgba($grayscale-40, 0.2);

  &__title {
    @include column-flex(start, start);
    align-self: stretch;
    color: $grayscale-90;
    @include text-style(25, $grayscale-90, 700);
  }

  &__subtitle {
    @include flex;
    width: 100%;

    &__legend {
      @include flex(evenly, center);
      @include text-style(15, $grayscale-50, 400);

      &__main {
        color: $grayscale-70;
        font-weight: 400;
      }

      &__compare {
        color: $grayscale-90;
        font-weight: 700;
      }
    }
  }
}

.circular-progressbar .CircularProgressbar-text {
  font-weight: 700;
}
