.dailyRateWrapper {
  @include column-flex(between, center);
  width: 14.878vw;
  height: 31.25vh;
  padding: 1.5625vw;
  gap: 0.5208vw;
  border-radius: 0.625vw;
  border: 0.052vw solid $grayscale-10;
  box-shadow: 0.208vw 0.208vw 0.521vw 0 rgba($grayscale-40, 0.2);

  &__title {
    @include column-flex(start, start);
    align-self: stretch;
    color: $grayscale-90;
    @include text-style(25, $grayscale-90, 700);
  }

  &__subtitle {
    @include flex(between, center);
    width: 100%;

    &__legend {
      @include flex(between, center);
      width: 4.427vw;
      @include text-style(15, $grayscale-50, 400);

      &__main {
        color: $grayscale-70;
        font-weight: 400;
      }

      &__compare {
        color: $grayscale-90;
        font-weight: 700;
      }
    }
  }
}

.circular-progressbar .CircularProgressbar-text {
  font-weight: 700;
}
