.dailyRateWrapper {
  @include flex(between, center);
  flex-direction: column;
  width: 12.708vw;
  height: 27.7778vh;
  padding: 1.5625vw;
  gap: 0.5208vw;
  border-radius: 0.625vw;
  border: 0.052vw solid #e6edff;
  box-shadow: 0.208vw 0.208vw 0.521vw 0px rgba(220, 220, 220, 0.2);

  &__title {
    @include flex(start, start);
    flex-direction: column;
    align-self: stretch;
    color: $grayscale-90;
    font-size: 25px;
    font-weight: 700;
    line-height: 150%;
  }

  &__subtitle {
    @include flex(between, center);
    width: 100%;

    &__legend {
      @include flex(between, center);
      width: 4.427vw;
      font-size: 0.7813vw;
      line-height: 150%;

      &__main {
        color: #555;
        font-weight: 400;
      }

      &__compare {
        color: #1d1d1d;
        font-weight: 700;
      }
    }
  }
}

.circular-progressbar .CircularProgressbar-text {
  font-weight: 700;
}
