.findId {
  background-image: url('src/assets/background.png');
  background-size: cover;
  background-repeat: round;

  &__wrapper {
    @include flex(start, center);

    width: 100%;
    height: 100vh;

    &__box {
      @include column-flex(between, center);

      width: 20.833vw;
      height: 29.259vh;

      margin-left: 14.063vw;

      &_title {
        button {
          width: 10.417vw;
          height: 5.185vh;
          padding: 0 0.417vw;
          border: none;
          box-shadow: 0 -2px 0 $grayscale-30 inset;

          font-size: $font-size-19;
          color: $grayscale-70;

          background-color: $white;
        }
      }

      &_input {
        @include column-flex(between, between);

        height: 10.741vh;

        &_inner {
          @include flex;
          width: 100%;

          gap: 12px;

          button {
            width: 5.417vw;
            height: 100%;
            box-sizing: border-box;
            border: none;
            background-color: $grayscale-30;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
