.header {
  &__container {
    @include flex(between, center);
    position: fixed;
    top: 0;
    left: 280px;
    width: 1640px;
    height: 120px;
    padding-left: 30px;
    &__title {
      @include text-style(32, black, 700);
    }
    &__admin-box {
      @include flex;
      width: 280px;
      height: 80px;
      padding: 20px 30px;
      &-picture {
        @include flex;
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: #d4e1ff;
        color: white;
        border-radius: 50%;
        margin-right: 12px;
      }
      &__content-box {
        @include column-flex(center, start);
        width: 122px;
        &-name {
          @include text-style(15, black, 700);
        }
        &-class {
          @include text-style(15, black, 400);
        }
      }
      &-icon {
        margin-left: 12px;
        cursor: pointer;
      }
    }
  }
}
