.manageTask-select-wrapper {
  @include flex(start, center);
  @include text-style(15, $grayscale-70, 400);
  width: 21.875vw;
  &__reset {
    @include text-style(15, $primary-50, 700);
    margin-left: 0.625vw;
  }
  &__slash {
    padding: 0 0.26vw 0 0.26vw;
  }
  &__reset {
    cursor: pointer;
  }
  &__selectPeople {
    @include text-style(15, $primary-70, 700);
  }
}

.manageTask-wrapper {
  @include flex(center, start);
}

.manageTask-container {
  background-color: $white;
  height: 87.5vh;
  margin-top: 0.781vw;
}

.checkBox {
  position: relative;
  width: 0.833vw;
  height: 1.481vh;
  border: 1px solid $grayscale-50;
  border-radius: 4px;
  background: $white;
  appearance: none;
  cursor: pointer;
}

.checkBox:checked {
  border: 1px solid $primary-50;
  background: $primary-50;
}

.checkBox:checked::after {
  content: '';
  position: absolute;
  top: 0.139vh;
  left: 0.208vw;
  width: 0.208vw;
  height: 0.741vh;
  border: 1px solid $white;
  border-width: 0 0.104vw 0.104vw 0;
  transform: rotate(45deg);
}
.ad-wrapper {
  max-height: 70.975vh;
  overflow-y: scroll;
}
.divide-wrapper {
  max-height: 70.975vh;
  overflow-y: scroll;
}
