.progressBar-container {
  @include flex(center center);
  justify-content: center;
  padding: var(--16, 1rem);
  gap: 1.25rem;
}

.progressBar {
  width: 13.125rem;
  height: 10px;
  background-color: #c1cfe4;
  border-radius: 12px;
  &__gauge {
    @include flex(center center);
    justify-content: center;
    margin: 2px;
    height: 6px;
    background-color: #006597;
    border-radius: 12px;
  }
  &__rate {
    font-size: 1.0625rem;
    line-height: 150%;
    color: #2e7d96;
  }
}
