.recent-wrapper {
  @include column-flex;
  justify-content: normal;
  padding: 30px;
  width: 536px;
  height: 400px;
  gap: var(--24, 24px);
  border-radius: var(--12, 12px);
  border: 1px solid #e6edff;
  box-shadow: 4px 4px 10px 0px rgba(220, 220, 220, 0.2);

  &__header {
    @include flex(between, center);
    align-self: stretch;

    &__title {
      color: var(--Gray-Gray-80, #2d2d2d);
      font-size: 25px;
      font-weight: 700;
      line-height: 150%;
    }

    &__detail {
      color: var(--Gray-Gray-70, #555);
      font-size: 13px;
      font-weight: 400;
      line-height: 150%;
    }

    &__arrow {
      @include flex(center, start);
    }
  }
}

.table {
  &__head {
    color: var(--Primary-Primary-60_Hover, #006597) !important;
    font-size: 15px !important;
    font-weight: 400 !important;
  }
}

.info {
  &__data {
    height: 50px !important;
    align-items: baseline !important;
    white-space: nowrap;

    td {
      padding: 16px !important;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
