.searchBar {
  width: 100%;
  &__topBar {
    @include flex(between, center);

    padding: 5.556vh 1.563vw 1.852vh;
    &_counter {
      @include flex(start, center);
      gap: 0.208vw;
      width: auto;

      font-size: $font-size-15;
      &_total {
        font-weight: 700;
        color: $grayscale-50;
      }

      &_number {
        color: $grayscale-70;
      }
    }

    &_wrapper {
      @include flex;
      gap: 0.625vw;

      height: 3.704vh;
      &_searchBar {
        position: relative;

        height: 100%;

        &_input {
          width: 13.854vw;
          height: 100%;
          padding: 0 0.521vw;
          border: 1px solid $grayscale-30;
          border-radius: 8px;

          font-size: $font-size-15;

          outline: none;

          &:focus {
            border: 1px solid $grayscale-70;
          }
        }

        &_img {
          position: absolute;
          right: 0.521vw;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
