.sidebar {
  &__container {
    width: 280px;
    height: 100vh;
    border: 1px solid royalblue; //지울거임
    background: #f0f4f8;
    &__logo-box {
      @include flex;
      height: 121px;
      cursor: pointer;
    }
    &__logo-border {
      border: none;
      height: 2px;
      background: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #006597 50%, rgba(224, 225, 226, 0.15625) 100%);
      margin-bottom: 45px;
    }
    &__nav-box {
      height: 676px;
      &__user {
        height: 240px;
        &-nav {
          @include flex(start, center);
          height: 48px;
          cursor: pointer;
          &:hover {
            margin-left: 15px;
            width: 235px;
            border-radius: 8px;
            background: #e3eaf1;
          }

          &-bar {
            width: 5px;
            height: 48px;
            border-radius: 0 4px 4px 0;
            background: #e3eaf1;
            margin-right: 10px;
          }
          &-icon {
            margin-left: 13px;
          }
          &-title {
            color: #717171;
            margin-left: 12px;
          }
        }
      }
      &__manager {
        margin-top: 146px;
        height: 248px;
        &-nav {
          @include flex(start, center);
          cursor: pointer;
          height: 48px;
          &-bar {
            width: 5px;
            height: 48px;
            border-radius: 0 4px 4px 0;
            background: #e3eaf1;
            margin-right: 10px;
          }
          &-icon {
            margin-left: 13px;
          }
          &-title {
            width: 137px;
            color: #717171;
            margin: 0 12px;
          }
          &-arrow {
          }
        }
      }
      &__list {
        margin-top: 16px;
        &-item {
          height: 20px;
          margin: 10px 0 10px 30px;
          color: #717171;
        }
      }
    }
  }
}
