.signIn {
  &_bg {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }

  &__wrapper {
    @include flex(start, center);

    width: 100%;
    height: 100vh;

    &__box {
      position: relative;

      margin-left: 14.063vw;

      &_title {
        @include flex;
        height: 3.519vh;

        @include text-style(25, $grayscale-90, 700);
        line-height: 150%;
      }

      &_input {
        @include column-flex;
        gap: 1.111vh;

        margin-top: 1.852vh;

        font-size: 15px;
        color: $grayscale-50;
      }

      &_find {
        @include flex(end, center);

        margin-top: 1.111vh;

        @include text-style(15, $grayscale-50, 400);
        cursor: pointer;

        &_span {
          @include text-style(15, $grayscale-50, 400);
          text-decoration: none;
        }
      }

      &_button {
        @include flex(start, center);

        margin-top: 1.852vh;
      }

      &_text {
        @include flex;
        gap: 0.26vw;

        width: 20.833vw;

        margin-top: 1.111vh;

        span {
          @include text-style(15, $grayscale-50, 400);
        }

        .link {
          @include text-style(15, $primary-50, 700);
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.idError {
  @include flex(start, center);
  margin-top: 1.111vh;

  &_message {
    @include text-style(15, $danger-50, 400);
  }
}
