.sort {
  position: relative;

  width: 5.104vw;

  &__sortBtn {
    @include inline-flex;
    flex-shrink: 0;

    height: 3.704vh;
    padding: 0 0.833vw;
    border: 1px solid $grayscale-30;
    border-radius: 8px;

    background-color: $white;

    gap: 0.625vw;

    &__span {
      font-size: 17px;
      color: $grayscale-70;
    }

    &__icon {
      @include flex;

      width: 0.833vw;
    }

    &--active {
      border: 1px solid $primary-50;

      .sort__sortBtn__span {
        color: $primary-50;
      }
    }
  }

  &__dropdown {
    @include column-flex(center, start);

    position: absolute;
    right: 0;

    width: 12.5vw;
    height: 23.426vh;
    margin-top: 0.926vh;
    padding: 1.111vh 0.625vw 0.556vh 0.625vw;
    border: 1px solid $grayscale-40;
    border-radius: 8px;

    background-color: $white;
  }
}
