.tab {
  &__container {
    @include inline-flex;
    height: 3.704vh;
    padding: 0 0.833vw 0 0.833vw;
    border-radius: 8px;
    border: 1px solid #c6c6c6;
    cursor: pointer;

    &__default {
      @include text-style(15, #8e8e8e, 400);
    }

    &__hover {
      @include text-style(15, #029eeb, 400);
      border-color: #029eeb;
    }

    &__active {
      @include text-style(15, white, 400);
      background: #029eeb;
    }
  }
}
