.rate-wrapper {
  @include flex(center, start);
  width: 514px;
  height: 302px;
  padding: 32px 30px 29px 30px;
  flex-direction: column;
  gap: var(--24, 24px);
  border-radius: var(--12, 12px);
  border: 1px solid #e6edff;
  box-shadow: 4px 4px 10px 0px rgba(220, 220, 220, 0.2);
  &__title {
    color: var(--Gray-Gray-90, #1d1d1d);
    font-size: 25px;
    font-weight: 700;
    line-height: 150%;
  }
  &__rate {
    @include flex(start, start);
    align-items: center;
    gap: 10px;
  }
  &__text {
    width: 387px;
    text-align: right;
  }
}

.progressBar {
  &__rate {
    color: #555 !important;
    font-size: 23px !important;
    margin-left: 14px;
    font-weight: 700;
  }
  &__mine {
    margin: 2px;
    border-radius: 12px;
    background-color: #ddeff8;
  }
  &__all {
    margin: 2px;
    border-radius: 12px;
    background-color: #deeeed;
  }
  &__gauge {
    &__mine {
      height: 11px !important;
      margin: 2px;
      border-radius: 12px;
      background-color: #006597;
    }
    &__all {
      height: 11px !important;
      margin: 2px;
      border-radius: 12px;
      background-color: #64aca7;
    }
  }
}

.progressBar-container {
  @include flex;
}
