.rate-wrapper {
  @include flex(center, start);
  width: 28.341vw;
  height: 28.125vh;
  padding: 1.951vw 3.125vh 1.768vw 3.125vh;
  flex-direction: column;
  gap: var(--24, 24px);
  border-radius: var(--12, 12px);
  border: 1px solid #e6edff;
  box-shadow: 4px 4px 10px 0px rgba(220, 220, 220, 0.2);

  &__title {
    @include text-style(25, $grayscale-90, 700);
    line-height: 150%;
  }

  &__rate {
    @include flex(start, start);
    align-items: center;
    gap: 10px;
  }

  &__text {
    width: 20.156vw;
    text-align: right;
  }
}

.progressBar {
  &__rate {
    @include text-style(23, #555, 700);
    margin-left: 14px;
  }

  &__mine {
    margin: 2px;
    border-radius: 12px;
    background-color: #ddeff8;
  }

  &__all {
    margin: 2px;
    border-radius: 12px;
    background-color: #deeeed;
  }

  &__gauge {
    &__mine {
      height: 11px !important;
      margin: 2px;
      border-radius: 12px;
      background-color: #006597;
    }

    &__all {
      height: 11px !important;
      margin: 2px;
      border-radius: 12px;
      background-color: #64aca7;
    }
  }
}

.progressBar-container {
  @include flex(start center);
}
