.task-wrapper {
  @include flex;
  width: 48.75rem;
  height: 8.75rem;
  padding: 1.25rem;
  gap: 2.25rem;
  border-radius: var(--12, 0.75rem);
  border: 1px solid var(--Border, #e6edff);
  box-shadow: 4px 4px 10px 0px rgba(220, 220, 220, 0.2);

  &__info {
    color: var(--Gray-Gray-60, #717171);
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 150%;

    &__subtitle {
      color: var(--Primary, #000);
      font-size: 2rem;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 0.02rem;
    }
  }

  &__deadline,
  &__dailytask,
  &__dailyrecommend {
    @include flex;
    width: 16.25rem;
    justify-content: space-around;
    align-items: center;
    gap: 0.75rem;
    &::after {
      content: '';
      display: block;
      border: 0.0625rem solid #e6edff;
      height: 6.375rem;
    }
    &:last-child::after {
      display: none;
    }
  }
}
