// primary
$primary-50: #029eeb;
$primary-60: #006597;
$primary-70: #003c5a;

// secondary
$secondary-1: #f7f9fb;
$secondary-5: #f0f4f8;
$secondary-30: #99b0cb;
$secondary-50: #505e70;
$secondary-60: #293647;
$secondary-70: #1c2127;

// tertiary
$tertiary-5: #c1cfe4;
$tertiary-50: #006597;

// grayscale
$grayscale-5: #f8f8f8;
$grayscale-10: #f0f0f0;
$grayscale-20: #e4e4e4;
$grayscale-30: #d8d8d8;
$grayscale-40: #c6c6c6;
$grayscale-50: #8e8e8e;
$grayscale-60: #717171;
$grayscale-70: #555555;
$grayscale-80: #2d2d2d;
$grayscale-90: #1d1d1d;

// Point color
// Information
$information-5: #d4e1ff;
$information-10: #2768ff;
$information-50: #1f53cc;
$information-60: #1f53cc;

// Warning
$warning-5: #fff8e9;
$warning-10: #ffeac1;
$warning-50: #ffb724;
$warning-60: #98690a;

// Danger
$danger-5: #fddfe6;
$danger-10: #fcd4de;
$danger-50: #eb003b;
$danger-60: #d50136;

// Success
$success-5: #eef7f0;
$success-10: #cee9d4;
$success-50: #008a1e;
$success-60: #006e18;

// others
$white: #fff;
$black: #000;
