$font-pretendard: 'Pretendard', Helvetica, 'Apple SD Gothic Neo', Dotum, 돋움, sans-serif;

// 기본 px이 16일 때
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-28: 1.75rem;
$font-size-36: 2.25rem;
$font-size-42: 2.625rem;
$font-size-60: 3.75rem;
$font-size-88: 5.5rem;

// 기본 px이 17일 때
// $font-size-14: 0.824rem;
// $font-size-17: 1rem;
// $font-size-18: 1.059rem;
// $font-size-20: 1.176rem;
// $font-size-24: 1.412rem;
// $font-size-28: 1.647rem;
// $font-size-36: 2.118rem;
// $font-size-42: 2.470rem;
// $font-size-60: 3.529rem;
// $font-size-88: 5.176rem;
