$font-pretendard: 'Pretendard', Helvetica, 'Apple SD Gothic Neo', Dotum, 돋움, sans-serif;

// 기본 px이 16일 때
$font-size-13: 0.677vw;
$font-size-14: 0.729vw;
$font-size-15: 0.781vw;
$font-size-16: 0.833vw;
$font-size-17: 0.885vw;
$font-size-18: 0.938vw;
$font-size-19: 0.99vw;
$font-size-20: 1.042vw;
$font-size-21: 1.094vw;
$font-size-22: 1.146vw;
$font-size-23: 1.198vw;
$font-size-24: 1.25vw;
$font-size-25: 1.302vw;
$font-size-26: 1.354vw;
$font-size-27: 1.406vw;
$font-size-28: 1.458vw;
$font-size-29: 1.51vw;
$font-size-30: 1.563vw;
$font-size-31: 1.615vw;
$font-size-32: 1.667vw;
$font-size-33: 1.719vw;
$font-size-34: 1.771vw;
$font-size-35: 1.823vw;
$font-size-36: 1.875vw;
$font-size-37: 1.927vw;
$font-size-38: 1.979vw;
$font-size-39: 2.031vw;
$font-size-40: 2.083vw;
$font-size-41: 2.135vw;
$font-size-42: 2.188vw;
$font-size-53: 2.76vw;
$font-size-60: 3.125vw;
$font-size-88: 4.583vw;

// 기본 px이 17일 때
// $font-size-14: 0.824rem;
// $font-size-17: 1rem;
// $font-size-18: 1.059rem;
// $font-size-20: 1.176rem;
// $font-size-24: 1.412rem;
// $font-size-28: 1.647rem;
// $font-size-36: 2.118rem;
// $font-size-42: 2.470rem;
// $font-size-60: 3.529rem;
// $font-size-88: 5.176rem;
