* {
  margin: 0;
  font-family: $font-pretendard;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-family: $font-pretendard;
  font-size: 16px;
}
